<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <title>EDITAR</title>
   <style>
     body{
            background-color: rgba(119, 33, 216, 0.61);
            font-family: 'Grandstander', cursive;
        }
        form{
            width: 290px;
            margin: 12px;
            font-size: 15px;  
        }
        .baixo{
            margin: 15px;
        
        }
        h2{
            margin: 5px;
        }
</style>
</head>
<body>
    
<h2>Editar Registros<h2>
  <% data.forEach(function(details) { %>
    <form action="/edit/<%= details._id %>" method="POST">
      <input type="text" placeholder="NOME"  value="<%= details.name %>" name="name">
      <input type="text" placeholder="SOBRENOME"  value="<%= details.surname %>" name="surname">
      <input type="text" placeholder="SEXO"  value="<%= details.sexo %>" name="sexo" >
      <input type="number" placeholder="CPF" value="<%= details.cpf %>" name="cpf">
      <input type="email"  placeholder="EMAIL" value="<%= details.email %>" name="email">
      <input type="number" placeholder="NUMERO" value="<%= details.numero %>" name="numero">
      <input type="number" placeholder="CEP" value="<%= details.cep %>" name="cep">
      <br />
      <button type="submit" class="btn btn-dark btn-sm"><a href="/show">TODOS OS REGISTROS</a></button>
      <button type="submit" class="btn btn-dark btn-sm">ATUALIZAR</button>
    </form>
  <% }) %>

</body>
</html>